---
# vars file for install_oracle_db

 inst_software_source_dir: /u01/software
 inst_sofware_destiny_dir: /u01/staging/oracledb # create dir, unzip installer, use as source to install
 inst_template_dir: "{{ inst_sofware_destiny_dir }}/templates"
 inst_user_home: /home/oracle
 inst_root_dir: "{{ inst_user_home }}/database" # database is installed here
 inst_db_installer: linuxx64_12201_database.zip
 inst_install_option: INSTALL_DB_AND_CONFIG 
 inst_group_name: oinstall
 inst_inventory_location: "{{ inst_root_dir }}/oraInventory"
 inst_ora_inst_root_file: "{{ inst_inventory_location }}/orainstRoot.sh"
 inst_oracle_home: "{{ oracle_home }}"
 inst_ora_root_file: "{{ inst_oracle_home }}/root.sh"
 inst_ora_tab_file: /etc/oratab
 inst_oracle_base: "{{ oracle_base }}"
 inst_install_edition: SE2
 inst_dba_group: dba
 inst_is_rac_install: "false"
 inst_start_db_type: GENERAL_PURPOSE
 inst_global_db_name: "{{ global_db_name }}"
 inst_db_sid: "{{ sid }}"
 inst_conf_as_container: "false"
 inst_db_charset: AL32UTF8
 inst_automatic_memory: "false"
 inst_memory_limit: 1024
 inst_example_schemas: "false"
 inst_management_option: DEFAULT
 inst_enable_recovery: "false"
 inst_storage_type: FILE_SYSTEM_STORAGE
 inst_data_location: "{{ inst_root_dir }}/databasefilelocation"
 inst_security_update: "false"
 inst_decline_security_update: "true"

